<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add rental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
<div th:replace="fragments/navbar"></div>
<div class="container my-5">
    <h3>Add rental</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/rentals/add}" th:method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="bike" class="col-form-label">Bike</label>
                            <select th:field="*{order.bike}" class="form-control" id="bike">
                                <option th:each="bike : ${bikes}"
                                        th:value="${bike.id}" th:text="${bike.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pedalType" class="col-form-label">Pedal type</label>
                            <select th:field="*{rental.pedalType}" class="form-control" id="pedalType">
                                <option th:each="pedalType : ${T(pl.bikepoint.rental.enums.PedalType).values()}"
                                        th:value="${pedalType}" th:text="${pedalType.getDescription()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="rentalStartDate" class="col-form-label">Rental start date</label>
                            <input type="date" th:field="*{rental.rentStartDate}" class="form-control"
                                   id="rentalStartDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rentalEndDate" class="col-form-label">Rental end date</label>
                            <input type="date" th:field="*{rental.rentEndDate}" class="form-control"
                                   id="rentalEndDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="helmetRented"
                                       th:field="*{rental.helmetRented}">
                                <label for="helmetRented" class="form-check-label">Rent helmet?</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <br>
                            <br>
                            <h2>Customer details</h2>
                            <div class="form-group col-md-8">
                                <label for="firstName" class="col-form-label">First Name</label>
                                <input type="text" th:field="*{user.firstName}" class="form-control" id="firstName" placeholder="First name">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="lastName" class="col-form-label">Last Name</label>
                                <input type="text" th:field="*{user.lastName}" class="form-control" id="lastName" placeholder="Last name">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="phoneNo" class="col-form-label">Phone No</label>
                                <input type="text" th:field="*{user.phoneNo}" class="form-control" id="phoneNo" placeholder="Phone number">
                            </div>

                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" th:field="*{user.email}" class="form-control" id="email" placeholder="Email">
                            </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Rent bike">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>